<% extend('admin_base') %>
	<div class="content mb-100">
		<link rel="stylesheet" type="text/css" href="/css/backend/quillEditor_admin.css"/>
		<p><strong>Section Hierachie: </strong></p>
		<p class="mb-20"><%= section.suffix %></p>
		<p><strong>Section Nummer: </strong></p>
		<p class="mb-20"><%= section.section_number %></p>
		<p><strong>Section Name: </strong></p>
		<p class="mb-20"><%= section.name %></p>
		<p><strong>Kurzbeschreibung: </strong></p>
		<div class="mb-20">
			<p><%- section.shortdescription %></p></div>
		<p class="mb-20"><strong>Section Description: </strong></p>
		<div class="mb-20 code-editor"><%- section.description %></div>
		<%if(section !== null) { %>
			<p class="mt-20"><strong>Hierachie:</strong></p>
			<%if(sectioninstance.length) { %>
				<ol class="with-out-decimal --pl">
					<% for(let i = 0; i<sectioninstance.length; i++) { %>
						<li>
							<strong><%= sectioninstance[i].sectionInstance_number %>. Sectioninstance</strong>
							<a href="<%= sectioninstance[i].url %>"><%= sectioninstance[i].name %></a>

						</li>
					<% } %>
				</ol>
			<% } %>
			<ol class="mb-20 with-out-decimal">
				<li>
					<strong><%= section.section_number %>. Section</strong> <%= section.name %> (<%= section.suffix %>)
				</li>
				<ol class="with-out-decimal">
					<%if(section.taskinstance !== null) { %>
						<% for(var i = 0; i<section.taskinstance.length; i++) { %>
							<li><strong><%= section.taskinstance[i].taskInstance_number %>. Taskinstanz:</strong> <a href="<%= section.taskinstance[i].url %>"><%= section.taskinstance[i].name%></a> (<%= section.taskinstance[i].suffix %>)</li>
							<ol class="with-out-decimal">
								<% if(section.taskinstance[i].task !== null) { %>
									<% for(var j = 0; j<section.taskinstance[i].task.length; j++) { %>
										<li><strong><%= section.taskinstance[i].task[j].task_number %>. Task:</strong> <a href="<%= section.taskinstance[i].task[j].url %>"><%= section.taskinstance[i].task[j].name %> </a> (<%= section.taskinstance[i].task[j].suffix %>)</li>
									<% } %>	
								<% } %>
							</ol>
						<% } %>
					<% } %>
				</ol>
			</ol>
		<% } else { %>
			<p class="mb-20">Diese Instanz hat keine zugehörigen Sections</p>
		<% } %>
		<a class="btn" href="<%= section.url%>/update">Update Section</a>
		<a class="btn" href="<%= section.url%>/delete">Delete Section</a>
	</div>