<% extend('admin_base') %>
<div class="content mb-20">
	<a class="btn mb-20" href="/admin/section/create">Erstelle neue Section</a>
	<p class="mb-20">Alle sich in der Datenbank befindenen Sections:</p>
	<div class="form-group mb-20">
		<input class="input searchbar" name="searchbar" onkeyup="searchList()" type="text" placeholder=" " value="">
		<label class="input-label" for="searchbar"><i class="search-icon" data-feather="search"></i>Nach Section suchen</label>
	</div>
	<% if(sections.length > 0) { %>
		<table>
			<tr>
				<th class="table-cell --header">Nummer</th>
				<th class="table-cell --header">Name</th>
				<th class="table-cell --header">Ordnername (+ Autoinkrement)</th>
			</tr>
			<% for(let i = 0; i < sections.length; i++) { %>
				<tr class="detail-list-row">
					<td class="table-cell">
						<%=sections[i].section_number%>
					</td>
					<td class="table-cell">
						<a href="<%=sections[i].url%>" class="object-value"><%=sections[i].name%></a>
					</td>
					<td class="table-cell">
						<%=sections[i].path_name%><%=sections[i].section_inc%>
					</td>
				</tr>
			<% } %>
		</table>
	<% } else { %>
		<p>Leider sind noch keine Sections in der Datenbank</p>
	<% } %>
</div>
<script src="/js/admin_searchListOverview.bundle.js"></script>


