<% extend('admin_base') %>
	<div class="content mb-20">
		<p class="mb-20">Alle sich in der Datenbank befindenen Section Instanzen:</p>
		<% if(sectioninstance_list.length > 0) { %>
			<table>
				<tr>
					<th class="table-cell --header">Nummer</th>
					<th class="table-cell --header">Name</th>
					<th class="table-cell --header">Ordnername</th>
				</tr>
				<% for(var i = 0; i<sectioninstance_list.length; i++) { %>
					<tr>
						<td class="table-cell">
							<%= sectioninstance_list[i].sectionInstance_number %>
						</td>
						<td class="table-cell">
							<a href="<%=sectioninstance_list[i].url %>"><%= sectioninstance_list[i].name %></a>
						</td>
						<td class="table-cell">
							<%= sectioninstance_list[i].path_name %><%= sectioninstance_list[i].sectioninstance_inc %>
						</td>
					</tr>
				<% } %>
		<% } else { %>
			<p>Leider sind noch keine Section Instanzen in der Datenbank</p>
		<% } %>
	</div>