<% extend('admin_base') %>
<div class="content mb-100">
	<p><strong>Section Instance Nummer: </strong></p>
	<p class="mb-20"><%= sectioninstance.sectionInstance_number %></p>
	<p><strong>Section Instance Name: </strong></p>
	<p class="mb-20"><%= sectioninstance.name %></p>
	<%if(sectioninstance.section !== null) { %>
		<p class="mt-20"><strong>Section: </strong></p>
		<% if(sectioninstance.section.length > 0) { %>
			<table class="mb-20">
				<tr>
					<th class="table-cell --header">Nummer</th>
					<th class="table-cell --header">Name</th>
					<th class="table-cell --header">Hierachie</th>
				</tr>
				<% for(var i = 0; i<sectioninstance.section.length; i++) { %>
					<tr>
						<td class="table-cell"><%= sectioninstance.section[i].section_number %></td>
						<td class="table-cell">
							<a href="<%= sectioninstance.section[i].url %>"><%= sectioninstance.section[i].name %></a>
						</td>
						<td class="table-cell"><%= sectioninstance.section[i].suffix %></td>
				<% } %>
			</table>
		<% } %>
	<% } else { %>
		<p class="mb-20">Diese Instanz hat keine zugehörigen Sections</p>
	<% } %>
	<a class="btn mt-20" href="<%= sectioninstance.url%>/update">Update Sectioninstance</a>
</div>