<% extend('admin_base') %>
	<div class="content mb-100">
		<p><strong>Section Nummer: </strong></p>
		<p class="mb-20"><%= section.section_number %></p>
		<p><strong>Section Name: </strong></p>
		<p class="mb-20"><%= section.name %></p>
		<p><strong>Section Description: </strong></p>
		<div class="mb-20 code-editor"><%- section.description %></div>
		<%if(section.taskinstance.length > 0) { %>
			<%for (var i = 0; i<section.taskinstance.length; i++) { %>
				<div class="taskinstance-task-wrapper">
					<p><strong>Section Testinstanz:</strong></p>
					<table>
						<tr>
							<th class="table-cell --header">Nummer</th>
							<th class="table-cell --header">Name</th>
							<th class="table-cell --header">Hierachie</th>
						</tr>
							<tr>
								<td class="table-cell">
									<%= section.taskinstance[i].taskInstance_number %>
								</td>
								<td class="table-cell">
									<a href="<%= section.taskinstance[i].url %>"><%= section.taskinstance[i].name %></a>
								</td>
								<td class="table-cell">
									<%= section.taskinstance[i].suffix %>
								</td>
							</tr>
					</table>
					<%if(section.taskinstance[i].task.length > 0) { %>
							<p><strong>Subtests der Testinstanz: </strong></p>
							<table>
								<tr>
									<th class="table-cell --header">Nummer</th>
									<th class="table-cell --header">Name</th>
									<th class="table-cell --header">Hierachie</th>
								</tr>
								<%for (var j = 0; j<section.taskinstance[i].task.length; j++) { %>
										<tr>
											<td class="table-cell">
												<%= section.taskinstance[i].task[j].task_number %>
											</td>
											<td class="table-cell">
												<a href="<%= section.taskinstance[i].url %>"><%= section.taskinstance[i].task[j].name %></a>
											</td>
											<td class="table-cell">
												<%= section.taskinstance[i].task[j].suffix %>
											</td>
										</tr>
								<% } %>
							</table>
					<% } %>
				</div>
			<% } %>
		<% } else { %> 
			<p> Es sind noch keine Taskinstancen dieser Section zugewiesen worden </p>
		<% } %>
		<a class="btn" href="<%= section.url%>/update">Update Section</a>
	</div>