<% extend('admin_base') %>
<link rel="stylesheet" type="text/css" href="/css/backend/codeMirror_admin.css"/>
<div class="content mb-20">
<%if (typeof sectioninstance === 'undefined') { %>
	<form action="" name="form1" method="POST">
		<div class="form-group-col-2">
			<div class="form-group mb-40">
				<label class="input-label_error" for="sectionInstance_number">Dies ist ein Pflichtfled</label>
				<input class="input validate-me-js" type="number" name="sectionInstance_number" placeholder=" " onchange="validateField(this)">
				<label class="input-label" for="sectionInstance_number">Sectioninstance Nummer*</label>
			</div>
			<div class="form-group mb-40">
				<label class="input-label_error" for="name">Dies ist ein Pflichtfled</label>
				<input class="input validate-me-js" type="text" name="name" placeholder=" ">
				<label class="input-label" for="name">Titel*</label>
			</div>
		</div>
		<div class="form-group mb-40">
			<label class="input-label_error" for="description">Dies ist ein Pflichtfled</label>
			<textarea class="input --textarea validate-me-js"name="description" maxlength="200" placeholder=" " onchange="validateField(this)""></textarea>
			<label class="input-label" for="description">Kurzbeschreibung (Max: 200)*</label>
		</div>
		<div class="form-group">
			<input class="input searchbar" name="searchbar" onkeyup="searchList()" type="text" placeholder=" " value="">
			<label class="input-label" for="searchbar"><i class="search-icon" data-feather="search"></i>Nach Section suchen...</label>
		</div>
		<div class="input-list mb-50 mt-10">
			<% for(var i = 0; i<sections.length; i++) { %>
				<label class="checkbox-group" for="<%= sections[i]._id %>">
					<input type="checkbox" name="section" id="<%= sections[i]._id %>" value="<%= sections[i]._id %>">
					<label class="code-label list-value" for="<%= sections[i]._id %>"><%= sections[i].section_number %>. <%= sections[i].name %> (<%= sections[i].section_inc %>)</label>
				</label>
			<% } %>
		</div>
		<button class="btn" type="submit">Submit</button>
	</form>
<% } else { %>
	<form action="" method="POST" name="form1">
		<div class="form-group-col-2">
			<div class="form-group mb-40">
				<label class="input-label_error" for="sectionInstance_number">Dies ist ein Pflichtfled</label>
				<input class="input validate-me-js" type="number" name="sectionInstance_number"  value="<%= sectioninstance.sectionInstance_number %>" placeholder=" " onchange="validateField(this)">
				<label class="input-label" for="sectionInstance_number">Sectioninstance Nummer</label>
			</div>
			<div class="form-group mb-40">
				<label class="input-label_error" for="name">Dies ist ein Pflichtfled</label>
				<input class="input validate-me-js" type="text" name="name" value="<%= sectioninstance.name %>" placeholder=" " onchange="validateField(this)">
				<label class="input-label" for="name">Titel</label>
			</div>
		</div>
		<div class="form-group mb-40">
			<label class="input-label_error" for="description">Dies ist ein Pflichtfled</label>
			<textarea class="input --textarea validate-me-js" name="description" maxlength="200" placeholder=" " onchange="validateField(this)"><%= sectioninstance.description %></textarea>
			<label class="input-label" for="description">Kurzbeschreibung (Max: 200)</label>
		</div>
		<div class="form-group">
			<input class="input searchbar" name="searchbar" onkeyup="searchList()" type="text" placeholder=" " value="">
			<label class="input-label" for="searchbar"><i class="search-icon" data-feather="search"></i>Nach Section suchen...</label>
		</div>
		<div class="input-list mb-50 mt-10">
			<% for(var i = 0; i<sections.length; i++) { %>
				<label class="checkbox-group" for="<%= sections[i]._id %>">
					<input type="checkbox" name="section" id="<%= sections[i]._id %>" <% if(sections[i].checked) { %> checked <% } %> value="<%= sections[i]._id %>">
					<label class="code-label list-value" for="<%= sections[i]._id %>"><%= sections[i].section_number %>. <%= sections[i].name %> (<%= sections[i].section_inc %>)</label>
				</label>
			<% } %>
		</div>
		<button class="btn" type="submit">Submit</button>
	</form>
<% } %>
</div>
<script src="/js/validate_form.bundle.js"></script>
