<% extend('admin_base') %>
<link rel="stylesheet" type="text/css" href="/css/backend/codeMirror_admin.css"/>
<div class="content mb-100">
	<p><strong>Task Instance Hierachie: </strong></p>
	<p class="mb-20"><%= taskinstance.suffix %></p>
	<p><strong>Task Instance Nummer: </strong></p>
	<p class="mb-20"><%= taskinstance.taskInstance_number %></p>
	<p><strong>Task Instance Name: </strong></p>
	<p class="mb-20"><%= taskinstance.name %></p>
	<p><strong>Inital HTML Code: </strong></p>
	<textarea class="input --textarea html-codearea --output" name="htmlCode_inital" placeholder=" "><%= taskinstance.htmlCode_inital %></textarea>
	<p class="mt-20"><strong>Inital Css Code: </strong></p>
		<textarea class="input --textarea css-codearea --output" name="htmlCode_inital" placeholder=" "><%= taskinstance.cssCode_inital %></textarea>
	<p class="mt-20"><strong>Task Aufgaben: </strong></p>
	<%if(taskinstance !== null) { %>
		<p class="mt-20"><strong>Hierachie:</strong></p>
		<ol class="mb-20 with-out-decimal">
			<li>
				<strong><%= taskinstance.taskInstance_number %>. Taskinstance</strong> <%= taskinstance.name %> (<%= taskinstance.suffix %>)
			</li>
			<ol class="with-out-decimal">
				<%if(taskinstance.task.length > 0) { %>
					<% for(var i = 0; i<taskinstance.task.length; i++) { %>
						<li><strong><%= taskinstance.task[i].task_number %>. Task:</strong> <a href="<%= taskinstance.task[i].url %>"><%= taskinstance.task[i].name%></a> (<%= taskinstance.task[i].suffix %>)</li>
					<% } %>
				<% } else { %>
					<li>Taskinstance hat keine Tasks</li>
				<% } %>
			</ol>
		</ol>
	<% } else { %>
		<p class="mb-20">Diese Instanz hat keine zugehörigen Sections</p>
	<% } %>
	<a class="btn mt-20" href="<%= taskinstance.url%>/update">Update Taskinstance</a>
	<a class="btn mt-20" href="<%= taskinstance.url%>/delete">Delete Taskinstance</a>
</div>
<script src="/js/admin_codeMirror.bundle.js"></script>