<% extend('admin_base') %>
<link rel="stylesheet" type="text/css" href="/css/backend/codeMirror_admin.css"/>
<div class="content mb-100">
	<p><strong>Task Instance Nummer: </strong></p>
	<p class="mb-20"><%= taskinstance.taskInstance_number %></p>
	<p><strong>Task Instance Name: </strong></p>
	<p class="mb-20"><%= taskinstance.name %></p>
	<p><strong>Inital HTML Code: </strong></p>
	<textarea class="input --textarea html-codearea --output" name="htmlCode_inital" placeholder=" "><%= taskinstance.htmlCode_inital %></textarea>
	<p class="mt-20"><strong>Inital Css Code: </strong></p>
		<textarea class="input --textarea css-codearea --output" name="htmlCode_inital" placeholder=" "><%= taskinstance.cssCode_inital %></textarea>
	<p class="mt-20"><strong>Task Aufgaben: </strong></p>
	<ul class="mb-20">
		<% if(taskinstance.task.length > 0) { %>
			<% for(var i = 0; i<taskinstance.task.length; i++) { %>
				<li>
					<a href="<%= taskinstance.task[i].url %>"><%= taskinstance.task[i].name %></a>
				</li>
			<% } %>
		<% } else { %>
			<li>Diese Instanz hat keine zugehörigen Aufgaben</li>
		<% } %>
	</ul>
	<a class="btn mt-20" href="<%= taskinstance.url%>/update">Update</a>
</div>
<script src="/js/admin_codeMirror.bundle.js"></script>