 <% extend('admin_base') %>
	<div class="content">
		<a class="btn mb-20" href="/admin/task/create">Erstelle neuen Task</a>
		<p class="mb-20">Alle sich in der Datenbank befindenen Tasks:</p>
		<div class="form-group mb-20">
			<input class="input searchbar" name="searchbar" onkeyup="searchList()" type="text" placeholder=" " value="">
			<label class="input-label" for="searchbar"><i class="search-icon" data-feather="search"></i>Nach Task suchen</label>
		</div>
		<% if(list_tasks.length > 0) { %>
			<table>
				<tr>
					<th class="table-cell --header">Nummer</th>
					<th class="table-cell --header">Name</th>
					<th class="table-cell --header">Funktionsname (+ Autoinkrement)</th>
				</tr>
				<% for(var i = 0; i<list_tasks.length; i++) { %>
					<tr class="detail-list-row">
						<td class="table-cell">
							<%= list_tasks[i].task_number %>
						</td>
						<td class="table-cell">
							<a href="<%=list_tasks[i].url %>" class="object-value"><%= list_tasks[i].name %></a>
						</td>
						<td class="table-cell">
							<%= list_tasks[i].path_name %><%= list_tasks[i].task_inc %>
						</td>
					</tr>
				<% } %>
			</table>
		<% } else { %>
			<p>Leider sind noch keine Aufgaben in der Datenbank</p>
		<% } %>
	</div>
	<script src="/js/admin_searchListOverview.bundle.js"></script>