 <% extend('admin_base') %>
	<div class="content">
		<p class="mb-20">Alle sich in der Datenbank befindenen Tasks:</p>
		<% if(list_tasks.length > 0) { %>
			<table>
				<tr>
					<th class="table-cell --header">Nummer</th>
					<th class="table-cell --header">Name</th>
					<th class="table-cell --header">Funktionsname</th>
				</tr>
				<% for(var i = 0; i<list_tasks.length; i++) { %>
					<tr>
						<td class="table-cell">
							<%= list_tasks[i].task_number %>
						</td>
						<td class="table-cell">
							<a href="<%=list_tasks[i].url %>"><%= list_tasks[i].name %></a>
						</td>
						<td class="table-cell">
							<%= list_tasks[i].path_name %><%= list_tasks[i].task_inc %>
						</td>
					</tr>
				<% } %>
			</table>
		<% } else { %>
			<p>Leider sind noch keine Aufgaben in der Datenbank</p>
		<% } %>
	</div>