<% extend('admin_base') %>
<link rel="stylesheet" type="text/css" href="/css/backend/codeMirror_admin.css"/>
<%if (typeof taskinstance === 'undefined') { %>
	<div class="content mb-20">
		<form action="" method="POST">
			<div class="form-group-col-2">
				<div class="form-group mb-40">
					<input class="input" type="number" name="taskInstance_number" placeholder=" ">
					<label class="input-label" for="taskInstance_number">Taskinstance Nummer</label>
				</div>
				<div class="form-group mb-40">
					<input class="input" type="text" name="name" placeholder=" ">
					<label class="input-label" for="name">Titel</label>
				</div>
				<div class="form-group mb-40">
					<input class="input" type="text" name="suffix" placeholder=" ">
					<label class="input-label" for="suffix">Hierachie (z.B. 1.1)</label>
				</div>
			</div>
			<div class="form-group mb-40">
				<span class="code-label">Inital HTML Code</span>
				<textarea class="input --textarea html-codearea --input" name="htmlCode_inital" placeholder=" "></textarea>
			</div>
			<div class="form-group mb-40">
				<span class="code-label">Inital CSS Code</span>
				<textarea class="input --textarea css-codearea --input" name="cssCode_inital" placeholder=" "></textarea>
			</div>
			<span class="code-label">Select Tasks for the Task Instance:</span>
			<div class="input-list mb-50 mt-10">
				<% for(var i = 0; i<tasks.length; i++) { %>
					<label class="checkbox-group" for="<%= tasks[i]._id %>">
						<input type="checkbox" name="task" id="<%= tasks[i]._id %>" value="<%= tasks[i]._id %>">
						<label class="code-label" for="<%= tasks[i]._id %>"><%= tasks[i].task_number %> | <%= tasks[i].name %> | <%= tasks[i].suffix %></label>
					</label>
					<% if(i < (tasks.length - 1)) { %>
						<div class="break --dark"></div>
					<% } %>
				<% } %>
			</div>
			<button class="btn" type="submit">Submit</button>
		</form>
	</div>
<% } else { %>
	<div class="content mb-20">
		<form action="" method="POST">
			<div class="form-group-col-2">
				<div class="form-group mb-40">
					<input class="input" type="number" value="<%= taskinstance.taskInstance_number %>"name="taskInstance_number" placeholder=" ">
					<label class="input-label" for="taskInstance_number">Taskinstance Nummer</label>
				</div>
				<div class="form-group mb-40">
					<input class="input" type="text" name="name" placeholder=" " value="<%= taskinstance.name %>">
					<label class="input-label" for="name">Titel</label>
				</div>
				<div class="form-group mb-40">
					<input class="input" type="text" value="<%= taskinstance.suffix %>" name="suffix" placeholder=" ">
					<label class="input-label" for="suffix">Hierachie (z.B. 1.1)</label>
				</div>
			</div>
			<div class="form-group mb-40">
				<span class="code-label">Inital HTML Code</span>
				<textarea class="input --textarea html-codearea --input" name="htmlCode_inital" placeholder=" "><%= taskinstance.htmlCode_inital %></textarea>
			</div>
			<div class="form-group mb-40">
				<span class="code-label">Inital CSS Code</span>
				<textarea class="input --textarea css-codearea --input" name="cssCode_inital" placeholder=" "><%= taskinstance.cssCode_inital %></textarea>
			</div>
			<span class="code-label">Select Tasks for the Task Instance:</span>
			<div class="input-list mb-50 mt-10">
				<% for(var i = 0; i<tasks.length; i++) { %>
					<label class="checkbox-group" for="<%= tasks[i]._id %>">
						<input type="checkbox" name="task" id="<%= tasks[i]._id %>" <% if(tasks[i].checked) { %> checked <% } %> value="<%= tasks[i]._id %>">
						<label class="code-label" for="<%= tasks[i]._id %>"><%= tasks[i].task_number %> | <%= tasks[i].name %> | <%= tasks[i].suffix %></label>
					</label>
					<% if(i < (tasks.length - 1)) { %>
						<div class="break --dark"></div>
					<% } %>
				<% } %>
			</div>
			<button class="btn" type="submit">Submit</button>
		</form>
	</div>
<% } %>
<script src="/js/admin_codeMirror.bundle.js"></script>
