<% extend('admin_base') %>
	<div class="content mb-50">
		<p><strong>Task Hierachie: </strong></p>
		<p class="mb-20"><%= task.suffix %></p>
		<p><strong>Task Nummer: </strong></p>
		<p class="mb-20"><%= task.task_number %></p>
		<p><strong>Task Name: </strong></p>
		<p class="mb-20"><%= task.name %></p>
		<p><strong>Task Description: </strong></p>
		<div class="mb-20 code-editor" ><%- task.description %></div>
		<a class="btn" href="<%= task.url%>/update">Update Task</a>
	</div>