<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
	<title>Editor</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/css/general.css"/>
	<link rel="stylesheet" type="text/css" href="/css/editor/editorMirror.css"/>
	<link rel="stylesheet" type="text/css" href="/css/editor/editor.css"/>
	<link rel="stylesheet" type="text/css" href="/css/editor/sidebar.css"/>
	<link rel="stylesheet" type="text/css" href="/css/editor/description.css"/>
	<link rel="stylesheet" type="text/css" href="/css/editor/codeEditor.css"/>
</head>
<body>
	<script>
		const section =  <%- JSON.stringify(section) %>;
		const sectioninstance =  <%- JSON.stringify(sectioninstance) %>;
	</script>
	<div class="code-saved-wrapper">
		Code gespeichert
	</div>
	<div class="code-saved-wrapper --error">
		Bitte Aufgabe auswählen um Code zu speichern
	</div>
	<div class="header" data-sectioninstancenumber="<%= sectioninstance[0].sectionInstance_number %>">
		<h2 class="header-2 white"><%=section.name %></h2>
		<div class="header-btn-wrapper">
			<button class="btn --icon" type="button" onclick="setInitialGrid()" title='Set Editor-Grid to inital size'>
				<div class="set-inital-grid"></div>
			</button>
			<button class="save btn --icon" type="button" title='Save your code'>
				<div class="save-disk"></div>
			</button>
		</div>
	</div>
	<div class="task-editor-wrapper">
		<div class="task-number-wrapper">
			<div class="input-wrapper --description">
				<input id="description" type="radio" name="task" class="taskInput --description" checked>
				<label class="task-number" for="description" onclick="setDescription(); setInitialGrid();" >
					<svg class="description-svg">
						<use xlink:href="#svg-description" />
					</svg>
				</label>
			</div>
			<% if(section.taskinstance !== null) { %>
				<% for(let i = 0; i<section.taskinstance.length; i++){ %>
					<div class="input-wrapper --task">
						<input id="<%= section.taskinstance[i].taskInstance_number %>" type="radio" name="task" class="taskInput --task" data-taskinstanceid="<%= section.taskinstance[i]._id %>">
						<label class="task-number" for="<%= section.taskinstance[i].taskInstance_number %>" onclick="setTaskDescription(this); setInitialGrid();">A<%= section.taskinstance[i].taskInstance_number %></label>
					</div>
				<% } %>
			<% } %>
		</div>
		<div class="description-wrapper" data-descriptionnumber="<%= section.section_number %>">
			<div class="description-scroll-wrapper" data-description="description">
				<div class="task-headline-wrapper">
					<h3 class="header-3 mr-10">Beschreibung</h3>
					<svg class="svg-close" onclick="closeDescription()">
						<use xlink:href="#svg-close" />
					</svg>
				</div>
				<div class="description-text-wrapper quill-format">
						<%- section.description %>
				</div>
			</div>
			<% if(section.taskinstance !== null) { %>
				<% for(let i = 0; i<section.taskinstance.length; i++){ %>
					<div class="description-scroll-wrapper --not-active" data-tasknumber="<%= section.taskinstance[i].taskInstance_number %>">
						<% for(let j = 0; j<section.taskinstance[i].task.length; j++){ %>
							<div class="task <% if(!(section.taskinstance[i].task[j].task_solved)){ %> --not-solved <% } %>" data-taskid="<%= section.taskinstance[i].task[j]._id %>">
								<div class="task-headline-wrapper">
									<h3 class="header-3"><%= section.taskinstance[i].task[j].name  %></h3>
										<svg class="svg-close" onclick="closeDescription()">
											<use xlink:href="#svg-close" />
										</svg>
								</div>
								<div class="task-solved-wrapper">
									<input type="checkbox" class="task-solved" <% if(section.taskinstance[i].task[j].task_solved){ %> checked <% } %>>
									<label class="task-solved-label"></label>
								</div>
								<div class="task-description quill-format">
										<%- section.taskinstance[i].task[j].description %>
									<button type="button" class="run-test-js run-test btn mt-10 mb-10" data-testnumber="<%= section.taskinstance[i].task[j].task_number %>">Run Test</button>
								</div>
							</div>
						<% } %>
					</div>
				<% } %>
			<% } %>
			<div class="resize --vertical" onmousedown="onClickVertical(this)"></div>
		</div>
		<div class="html-css-wrapper">
			<section class="section --html">
				<div class="headeline-wrapper">
					<div class="code-editor-header">index.html</div>
					<div class="import-export-wrapper">
						<div class="file-export-wrapper">
							<button class="btn export-file --html-js" title="Download File">
								<div class="file-icon --export"></div>
							</button>
						</div>
						<div class="file-import-wrapper">
							<button class="btn" title="Import File">
								<div class="file-icon --import"></div>
							</button>
							<input type="file" class="import-file --html-js" title="Upload File">
						</div>
					</div>
				</div>
				<div class="code-box-wrapper">
					<textarea class="html-codearea" name="html"></textarea>
				</div>
				<div class="resize --horizontal" onmousedown="onClickHorizontal(this)"></div>
			</section>
			<section class="section --css">
				<div class="headeline-wrapper">
					<div class="code-editor-header">style.css</div>
					<div class="import-export-wrapper">
						<div class="file-export-wrapper">
							<button class="btn export-file --css-js" title="Download File">
								<div class="file-icon --export"></div>
							</button>
						</div>
						<div class="file-import-wrapper">
							<button class="btn" title="Upload File">
								<div class="file-icon --import"></div>
							</button>
							<input type="file" class="import-file --css-js" title="Upload File">
						</div>
					</div>
				</div>
				<div class="code-box-wrapper">
			  		<textarea class="css-codearea" name="css"></textarea>
				</div>
			</section>
			<div class="resize --vertical" onmousedown="onClickVertical(this)"></div>
		</div>
		<section class="output">
			<div class="size-iframe"></div>
			<div class="error-message-wrapper">
				<svg class="close-wrapper" onclick="closeErrorMessage()">
					<use xlink:href="#svg-close" />
				</svg>
				<div class="error-message"></div>
			</div>
			<iframe class="output-iframe"></iframe>
		</section>
	</div>
	<script src="https://unpkg.com/csslint@1.0.5/dist/csslint.js"></script>
	<script src="/js/html-hint.js" charset="utf-8"></script>
	<script src="/js/init.bundle.js"></script>
	<script src="/js/index.bundle.js" charset="utf-8"></script>
</body>
</html>