<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
	<title>Editor</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/css/general.css"/>
	<link rel="stylesheet" type="text/css" href="/css/editor/editorMirror.css"/>
	<link rel="stylesheet" type="text/css" href="/css/editor/editor.css"/>
	<link rel="stylesheet" type="text/css" href="/css/editor/sidebar.css"/>
	<link rel="stylesheet" type="text/css" href="/css/editor/description.css"/>
	<link rel="stylesheet" type="text/css" href="/css/editor/codeEditor.css"/>
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Roboto:300,400,500,700" rel="stylesheet">
</head>
<body>
	<script>
		const section = <%- JSON.stringify(section) %>;
		const sectioninstance =  <%- JSON.stringify(sectioninstance) %>;
	</script>

	<div class="code-saved-wrapper">
		Code gespeichert
	</div>
	<div class="code-saved-wrapper --error">
		Bitte Aufgabe auswählen um Code zu speichern
	</div>
	<div class="header" data-sectioninstancepath="<%= sectioninstance[0].path_name %>" data-sectioninstancenumber="<%= sectioninstance[0].sectioninstance_inc %>">
		<h2 class="header-2 white"><%=section.name %></h2>
		<div class="header-btn-wrapper">
			<button class="btn reset --icon" title="Setze deinen Lernfortschritt zurück">
				<i class="reset-icon" data-feather="rotate-ccw"></i>
			</button>
			<button class="btn --icon" type="button" onclick="setInitialGrid()" title='Setzte das Editor-Grid auf Initialgröße'>
				<i class="grid-icon" data-feather="grid"></i>
			</button>
			<button class="save btn --icon" type="button" title='Speicher deinen Code'>
				<i class="save-icon" data-feather="save"></i>
			</button>
		</div>
	</div>
	<div class="task-editor-wrapper">
		<div class="task-number-wrapper">
			<div class="input-wrapper --description">
				<input id="description" type="radio" name="task" class="taskInput --description" checked>
				<label class="task-number" for="description" onclick="setDescription(); setInitialGrid();" >
					<i class="description-icon" data-feather="book-open"></i>
				</label>
			</div>
			<% if(section.taskinstance !== null) { %>
				<% for(let i = 0; i<section.taskinstance.length; i++){ %>
					<div class="input-wrapper --task">
						<input id="<%= section.taskinstance[i].taskinstance_inc %>" type="radio" name="task" data-taskinstancepath="<%= section.taskinstance[i].path_name %>"class="taskInput --task" data-taskinstanceid="<%= section.taskinstance[i]._id %>">
						<label class="task-number" for="<%= section.taskinstance[i].taskinstance_inc %>" onclick="setTaskDescription(this); setInitialGrid();">A<%= section.taskinstance[i].taskInstance_number %></label>
					</div>
				<% } %>
			<% } %>
		</div>
		<div class="description-wrapper" data-sectionpath="<%= section.path_name %>" data-sectioninc="<%= section.section_inc %>">
			<div class="description-scroll-wrapper" data-description="description">
				<div class="task-headline-wrapper">
					<h3 class="header-3 mr-10">Beschreibung</h3>
					<i class="description-close-icon" onclick="closeDescription()" data-feather="x"></i>
				</div>
				<div class="description-text-wrapper quill-format">
						<%- section.description %>
				</div>
			</div>
			<% if(section.taskinstance !== null) { %>
				<% for(let i = 0; i<section.taskinstance.length; i++){ %>
					<div class="description-scroll-wrapper --not-active <%= section.taskinstance[i].task.length %>" data-taskinstancenumber="<%= section.taskinstance[i].taskinstance_inc %>">
						<% for(let j = 0; j<section.taskinstance[i].task.length; j++){ %>
							<div class="task <% if(!(section.taskinstance[i].task[j].task_solved)){ %> --not-solved <% } %>" data-taskid="<%= section.taskinstance[i].task[j]._id %>">
								<div class="task-headline-wrapper">
									<h3 class="header-3 mr-10"><%= section.taskinstance[i].task[j].name  %></h3>
									<i class="description-close-icon" onclick="closeDescription()" data-feather="x"></i>
								</div>
								<div class="task-solved-wrapper">
									<input type="checkbox" class="task-solved" <% if(section.taskinstance[i].task[j].task_solved){ %> checked <% } %>>
									<label class="task-solved-label"></label>
								</div>
								<div class="task-description quill-format">
										<%- section.taskinstance[i].task[j].description %>
									<button type="button" class="run-test-js run-test btn mt-10 mb-10" data-tasknumber="<%= section.taskinstance[i].task[j].task_inc %>" data-taskpath="<%= section.taskinstance[i].task[j].path_name %>" data-tasksarray="<%= j + 1 %>">Run Test</button>
								</div>
							</div>
						<% } %>
					</div>
				<% } %>
			<% } %>
			<div class="resize --vertical" onmousedown="onClickVertical(this)"></div>
		</div>
		<div class="html-css-wrapper html-css-wrapper-overlay">
			<section class="section --html">
				<div class="headeline-wrapper">
					<div class="code-editor-header">index.html</div>
					<div class="editor-btn-wrapper">
						<button class="btn export-file --html-js" title="Download File">
							<i class="down-upload-icon" data-feather="download"></i>
						</button>
						<div class="file-import-wrapper">
							<button class="btn" title="Import File">
								<i class="down-upload-icon" data-feather="upload"></i>
							</button>
							<input type="file" class="import-file --html-js" title="Upload File">
						</div>
					</div>
				</div>
				<div class="code-box-wrapper">
					<textarea class="html-codearea" name="html"></textarea>
				</div>
				<div class="resize --horizontal" onmousedown="onClickHorizontal(this)"></div>
			</section>
			<section class="section --css">
				<div class="headeline-wrapper">
					<div class="code-editor-header">style.css</div>
					<div class="editor-btn-wrapper">
						<button class="btn export-file --css-js" title="Download File">
							<i class="down-upload-icon" data-feather="download"></i>
						</button>
						<div class="file-import-wrapper">
							<button class="btn" title="Upload File">
								<i class="down-upload-icon" data-feather="upload"></i>
							</button>
							<input type="file" class="import-file --css-js" title="Upload File">
						</div>
					</div>
				</div>
				<div class="code-box-wrapper">
			  		<textarea class="css-codearea" name="css"></textarea>
				</div>
			</section>
			<div class="resize --vertical" onmousedown="onClickVertical(this)"></div>
		</div>
		<section class="output">
			<div class="size-iframe"></div>
			<div class="error-message-wrapper">
				<div class="error-message"></div>
				<i class="error-close-icon" onclick="closeErrorMessage()" data-feather="x"></i>
			</div>
			<iframe class="output-iframe"></iframe>
		</section>
	</div>
	<script src="https://unpkg.com/csslint@1.0.5/dist/csslint.js"></script>
	<script src="/js/html-hint.js" charset="utf-8"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	<script>
		feather.replace()
	</script> 
	<!-- test is also executing index.js -->
	<script src="/js/test.bundle.js"></script>
	
</body>
</html>