<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<!-- <div class="display"></div> -->
<body>
	<script>
		const objSentFromSrv = <%-JSON.stringify(tasks)%>
	</script>
	<div class="code-saved-wrapper">
		Code saved
	</div>
	<div class="header">Playground 
		<button class="save" type="button">Save</button>
		<div class="runbutton-wrapper --non-active">
			<button type="button" class="run-test-js run-test">Run Test</button>
			<span class="run-btn-hover __syntax-error">Please solve syntax error!</span>
			<span class="run-btn-hover __open-console">Please open delelopver console</span>
		</div>
	</div>
	<div class="task-editor-wrapper">
		<div class="task-number-wrapper">
			<div class="input-wrapper">
				<input id="<%- tasks.tasknumber %>" type="radio" name="task" class="task">
				<label class="task-number" for="<%- tasks.tasknumber %>"><%- tasks.tasknumber %></label>
			</div>
		</div>
		<div class="task-description-wrapper --close">
			<button type="button" class="close-task">x</button>
			<div class="task-description">
				<%- tasks.taskdescription %>
			</div>
		</div>
		<div class="wrapper">
			<section class="html_section code-editors">
				<div class="code_box">
					<div class="headeline-wrapper">
						<h3 class="headline">HTML</h3>
						<div class="file-import-wrapper">
							<input type="file" class="input-file --html-js">
						</div>
					</div>
					<textarea class="html-codearea" name="html"></textarea>
				</div>
			</section>
			<div class="resize --horizontal"></div>
			<section class="css_section code-editors">
				<div id="css" class="code_box">
					<div class="headeline-wrapper">
						<div class="tab-wrapper">
							<button class="tab">style.css</button>
							<button class="tab">index.css</button>
						</div>
						<div class="file-import-wrapper">
							<input type="file" class="input-file --css-js">
						</div>
					</div>
			  			<textarea class="css-editor" name="css"></textarea>
				</div>
			</section>
			<div class="resize --vertical" data-dragstart="0"></div>
			<section class="output">
			<div class="headeline-wrapper">
				<h3 class="headline">Output</h3>
			</div>
				<div class="size-iframe"></div>
				<iframe class="output-iframe"></iframe>
			</section>
		</div>
	</div>
	<script type="text/javascript">
	window.addEventListener('error', function(e) {
	    console.log(e);
	}, true);
	</script>
	<script src="https://unpkg.com/csslint@1.0.5/dist/csslint.js"></script>
	<script src="/js/html-hint.js" charset="utf-8"></script>
	<script src="/js/index.bundle.js" charset="utf-8"></script>
	<script src="/js/test.bundle.js" charset="utf-8"></script>

</body>
</html>