<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
	<title>Overview</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/css/general.css"/>
	<link rel="stylesheet" type="text/css" href="/css/section_overview/section_overview.css"/>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body>
	<div class="header --big mb-50">
		<h1 class="header-1 white text-center container-wrapper"><%=sectioninstance.name %></h1>
		<p class="header-text">
			<%- sectioninstance.description %>
		</p>
		<i class="arrow-down-svg" data-feather="chevron-down"></i>
	</div>
	<div class="section-container_overview mb-100 scroll-to-js">
		<%if(sectioninstance.section !== null) {%>
			<% for(var i = 0; i<sectioninstance.section.length; i++) { %>
				<a href="/editor/<%=sectioninstance.section[i]._id%>" class="section-container">
					<div class="top-line"></div>
					<h4 class="section-container__headline"><%=sectioninstance.section[i].name %></h4>
					<div class="section-container__text">
						<% if(typeof sectioninstance.section[i].shortdescription !== 'undefined') { %>
							<p><%- sectioninstance.section[i].shortdescription.substring(0, 150) %>...</p>
						<% } %>
					</div>
				</a>
			<% } %>
		<% } else {%>
			<p class="text-center" ><%=sectioninstance.name %> hat keine Untersectionen. Bitte kontaktieren Sie Ihren Admin.</p>
		<% } %>
	</div>
	<script src="/js/scrollPolyfill.bundle.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	<script>
		feather.replace()
	</script> 
</body>
</html>