<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no" name="viewport">
	<title>Overview</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css"/>
	<link rel="stylesheet" type="text/css" href="/css/general.css"/>
	<link rel="stylesheet" type="text/css" href="/css/section_overview/section_overview.css"/>
</head>
<body>
	<div class="header --big mb-50">
		<h1 class="header-1 white"><%=sectioninstance.name %></h1>
		<p class="header-text">
			<%- sectioninstance.description %>
		</p>
		<svg class="arrow-down-svg">
			<use xlink:href="#svg-arrow-down" />
		</svg>
	</div>
	<div class="section-container_overview mb-100 scroll-to-js">
		<% for(var i = 0; i<sectioninstance.section.length; i++) { %>
			<a href="/editor/<%=sectioninstance.section[i]._id%>" class="section-container">
					<div class="top-line"></div>
					<h4 class="section-container__headline"><%=sectioninstance.section[i].name %></h4>
					<div class="section-container__text">
						<% if(typeof sectioninstance.section[i].shortdescription !== 'undefined') { %>
							<p><%- sectioninstance.section[i].shortdescription.substring(0, 150) %>...</p>
						<% } %>
					</div>
			</a>
		<%}%>
	</div>
	<script src="/js/init.bundle.js"></script>
</body>
</html>